/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  margin: 0;
  display: grid;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
}

input[type=submit] {
  border: 0;
  border-radius: 15px;
  background-color: rgb(30, 215, 96);
  color: rgb(255, 255, 255);
  font-size: .85em;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

a:visited {
  text-decoration: none;
  color: rgb(170, 170, 170);
}

.spotify-logo {
  width: 340px;
  height: auto;
  margin-bottom: 30px;
}
